*{
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Sen', sans-serif;
}

.space{
    margin-bottom: 80px;
}

header{
    position: fixed;
    top: 0px;
    width: 100vw;
    background-color: #232536;
    z-index: 1;
}

li{
    list-style: none;
}

.nav-link{
    text-decoration: none;
    left: 58.61%;
    right: 38.26%;
    top: 32.5%;
    bottom: 32.5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.container{
    width: 100vw;
    height: 80px;
    margin: auto;
}

.subcontainer{
    width: 90%;
    margin: auto;
}

.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding{
    width: 140px;
    height: 28.35px;
    left: -50px;
    top: 25px;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color: rgb(255, 255, 255);
}

/* #home{
    margin-top: 70px;
} */

.navbar .button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 14px 46px;
    gap: 12px;
    width: 179px;
    height: 56px;
    margin-top: 12px;
    margin-bottom: 12px;
    background: #FFFFFF;
    border: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.featuredPosted{
    display: flex;
    background: #F4F0F8;
}

.text1 .paragrafo1{
    width: 167px;
    height: 20px;
    margin: 94px 0 20px 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #232536;
}

.text1 .title1{
    width: 624px;
    height: 96px;
    margin: 20px 0 16px 80px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
}

.text1 label{
    margin-left: 80px;
}

.text1 .paragrafo2{
    width: 624px;
    height: 56px;
    margin: 16px 0 32px 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    color: #232536;    
}

.text1 button{
    width: 204px;
    height: 56px;
    margin: 16px 141px 32px 80px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 48px;
    gap: 12px;
    background: #FFD050;
    border: 0px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.image1 img{
    width: 515px;
    height: 359px;
    margin: 80px 80px 80px 141px;
}

.allPosts{
    display: flex;
}

.allPosts h1{
    width: 180px;
    height: 64px;
    margin: 64px 0px 0px 80px;
}

hr{
    width: 1282px;
    height: 0px;
    margin-left: 80px;
    margin-top: 0px;
    opacity: 0.32;
    border: 1px solid #6D6E76;
}

.postsGallery{
    display: flex;
    flex-direction: column;
}

.post1{
    display: flex;
}

.image2 img{
    width: 490px;
    height: 318px;
    margin: 64px 32px 64px 80px;
}

.text2{
    cursor: pointer;
}

.text2 a{
    text-decoration: none;
}

.text2 a:houver{
    background-color: #FFD050;
}

.text2 .paragrafo3{
    width: 183.37px;
    height: 20px;
    margin: 119px 654.63px 20px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #592EA9;
}

.text2 h2{
    width: 602.89px;
    height: 96px;
    margin: 20px 235.11px 16px 0;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
}

.text2 .paragrafo4{
    width: 624px;
    height: 56px;
    margin: 16px 214px 174px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
}

.post2{
    display: flex;
}

.image3 img{
    width: 490px;
    height: 318px;
    margin: 64px 32px 64px 80px;
}

.text3{
    cursor: pointer;
}

.text3 a{
    text-decoration: none;
}

.text3 a:houver{
    background-color: #FFD050;
}

.text3 .paragrafo3{
    width: 183.37px;
    height: 20px;
    margin: 119px 654.63px 20px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #592EA9;
}

.text3 h2{
    width: 602.89px;
    height: 96px;
    margin: 20px 235.11px 16px 0;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
}

.text3 .paragrafo4{
    width: 624px;
    height: 56px;
    margin: 16px 214px 174px 0; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
}

.post3{
    display: flex;
}

.image4 img{
    width: 490px;
    height: 318px;
    margin: 64px 32px 64px 80px;
}

.text4{
    cursor: pointer;
}

.text4 a{
    text-decoration: none;
}

.text4 a:houver{
    background-color: #FFD050;
}

.text4 .paragrafo3{
    width: 183.37px;
    height: 20px;
    margin: 119px 654.63px 20px 0; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #592EA9;
}

.text4 h2{
    width: 602.89px;
    height: 96px;
    margin: 20px 235.11px 16px 0;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
}

.text4 .paragrafo4{
    width: 624px;
    height: 56px;
    margin: 16px 214px 174px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
}

.post4{
    display: flex;
}

.image5 img{
    width: 490px;
    height: 318px;
    margin: 64px 32px 64px 80px; 
}

.text5{
    cursor: pointer;
}

.text5 a{
    text-decoration: none;
}

.text5 a:houver{
    background-color: #FFD050;
}

.text5 .paragrafo3{
    width: 183.37px;
    height: 20px;
    margin: 119px 654.63px 20px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #592EA9;
}

.text5 h2{
    width: 602.89px;
    height: 96px;
    margin: 20px 235.11px 16px 0;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
}

.text5 .paragrafo4{
    width: 624px;
    height: 56px;
    margin: 16px 214px 174px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
}

.post5{
    display: flex;
}

.image6 img{
    width: 490px;
    height: 318px;
    margin: 64px 32px 64px 80px; 
}

.text6{
    cursor: pointer;
}

.text6 a{
    text-decoration: none;
}

.text6 a:houver{
    background-color: #FFD050;
}

.text6 .paragrafo3{
    width: 183.37px;
    height: 20px;
    margin: 119px 654.63px 20px 0; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #592EA9;
}

.text6 h2{
    width: 602.89px;
    height: 96px;
    margin: 20px 235.11px 16px 0; 
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
}

.text6 .paragrafo4{
    width: 624px;
    height: 56px;
    margin: 16px 214px 174px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
}

.post6{
    display: flex;
}

.image7 img{
    width: 490px;
    height: 318px;
    margin: 64px 32px 64px 80px;
}

.text9{
    cursor: pointer;
}

.text9 a{
    text-decoration: none;
}

.text9 a:houver{
    background-color: #FFD050;
}

.text9 .paragrafo3{
    width: 183.37px;
    height: 20px;
    margin: 119px 654.63px 20px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #592EA9;
}

.text9 h2{
    width: 602.89px;
    height: 96px;
    margin: 20px 235.11px 16px 0;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
}

.text9 .paragrafo4{
    width: 624px;
    height: 56px;
    margin: 16px 214px 174px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
}

.post7{
    display: flex;
}

.image8 img{
    width: 490px;
    height: 318px;
    margin: 64px 32px 64px 80px;
}

.text10{
    cursor: pointer;
}

.text10 a{
    text-decoration: none;
}

.text10 a:houver{
    background-color: #FFD050;
}

.text10 .paragrafo3{
    width: 183.37px;
    height: 20px;
    margin: 119px 654.63px 20px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #592EA9;
}

.text10 h2{
    width: 602.89px;
    height: 96px;
    margin: 20px 235.11px 16px 0;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
}

.text10 .paragrafo4{
    width: 624px;
    height: 56px;
    margin: 16px 214px 174px 0; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
}

.post8{
    display: flex;
}

.image9 img{
    width: 490px;
    height: 318px;
    margin: 64px 32px 64px 80px;
}

.text11{
    cursor: pointer;
}

.text11 a{
    text-decoration: none;
}

.text11 a:houver{
    background-color: #FFD050;
}

.text11 .paragrafo3{
    width: 183.37px;
    height: 20px;
    margin: 119px 654.63px 20px 0; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #592EA9;
}

.text11 h2{
    width: 602.89px;
    height: 96px;
    margin: 20px 235.11px 16px 0;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
}

.text11 .paragrafo4{
    width: 624px;
    height: 56px;
    margin: 16px 214px 174px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
}

.post9{
    display: flex;
}

.image10 img{
    width: 490px;
    height: 318px;
    margin: 64px 32px 64px 80px; 
}

.text12{
    cursor: pointer;
}

.text12 a{
    text-decoration: none;
}

.text12 a:houver{
    background-color: #FFD050;
}

.text12 .paragrafo3{
    width: 183.37px;
    height: 20px;
    margin: 119px 654.63px 20px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #592EA9;
}

.text12 h2{
    width: 602.89px;
    height: 96px;
    margin: 20px 235.11px 16px 0;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
}

.text12 .paragrafo4{
    width: 624px;
    height: 56px;
    margin: 16px 214px 174px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
}

.post10{
    display: flex;
}

.image11 img{
    width: 490px;
    height: 318px;
    margin: 64px 32px 64px 80px; 
}

.text13{
    cursor: pointer;
}

.text13 a{
    text-decoration: none;
}

.text13 a:houver{
    background-color: #FFD050;
}

.text13 .paragrafo3{
    width: 183.37px;
    height: 20px;
    margin: 119px 654.63px 20px 0; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #592EA9;
}

.text13 h2{
    width: 602.89px;
    height: 96px;
    margin: 20px 235.11px 16px 0; 
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
}

.text13 .paragrafo4{
    width: 624px;
    height: 56px;
    margin: 16px 214px 174px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
}

.item-hide2{
    display: none;
}

#pointer1{
    width: 73px;
    height: 32px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6D6E76;
    background-color: white;
    border: 0px;
    margin-left: 647px;
    cursor: pointer;
}

#pointer2{
    width: 84px;
    height: 40px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -1px;
    color: #232536;
    background-color: white;
    border: 0px;
    margin-left: 737px;
    margin-top: -38px;
    cursor: pointer;
}

.categories h2{
    width: 302px;
    height: 48px;
    margin: 128px 569px 48px 569px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
}

.galleryCategories{
    display: flex;
    margin-bottom: 128px;
    margin-left: 40px;
    width: 1320px;
    overflow-x: hidden;
    overflow: hidden;
}

.item1{
    box-sizing: border-box;
    width: 296px;
    height: 228px;
    margin: 48px 0px 128px 32px;
    border: 1px solid #6D6E76;
    flex-shrink: 0;
}

.squares img{
    width: 48px;
    height: 48px;
    margin: 32px 10px 16px 32px;
    background: #FBF6EA;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}

.squares h3{
    width: 107px;   
    height: 40px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
    margin: 16px 157px 4px 32px;
}

.squares p{
    width: 232px;
    height: 56px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
    margin: 4px 32px 32px 32px;
}

.item2{
    box-sizing: border-box;
    width: 296px;
    height: 228px;
    margin: 48px 0 128px 32px;
    border: 1px solid #6D6E76;
}

.squares img{
    width: 48px;
    height: 48px;
    margin: 32px 10px 16px 32px;
    background: #FBF6EA;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}

.squares h3{
    width: 107px;   
    height: 40px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
    margin: 16px 157px 4px 32px;
}

.squares p{
    width: 232px;
    height: 56px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
    margin: 4px 32px 32px 32px;
}

.item3{
    box-sizing: border-box;
    width: 296px;
    height: 228px;
    margin: 48px 0px 128px 32px;
    border: 1px solid #6D6E76;
}

.squares img{
    width: 48px;
    height: 48px;
    margin: 32px 10px 16px 32px;
    background: #FBF6EA;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}

.squares h3{
    width: 107px;   
    height: 40px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
    margin: 16px 157px 4px 32px;
}

.squares p{
    width: 232px;
    height: 56px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
    margin: 4px 32px 32px 32px;
}

.item4{
    box-sizing: border-box;
    width: 296px;
    height: 228px;
    margin: 48px 0px 128px 32px;
    border: 1px solid #6D6E76;
}

.squares img{
    width: 48px;
    height: 48px;
    margin: 34px 10px 14px 32px;
    background: #FBF6EA;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}

.squares h3{
    width: 107px;   
    height: 40px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
    margin: 14px 197px 4px 32px;
}

.squares p{
    width: 232px;
    height: 56px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
    margin: 4px 32px 32px 32px;
}

#prev2{
    width: 48px;
    height: 48px;
    margin: 290px 0 0 -1270px;
    background: #FFFFFF;
    border: 0px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 2rem;
}

#next2{
    display: flex;
    width: 62px;
    height: 62px;
    margin: 280px 0 0 1230px;
    background: white;
    border: 0px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 2rem;
}

.team{
    display: flex;
}

.joinIn h2{
    height: 96px;
    width: 414px;
    margin: 0px 513px 16px 513px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2px;
    color: #232536;
}

.joinIn p{
    width: 405px;
    height: 56px;
    margin: 16px 517px 32px 518px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #6D6E76;
}

.joinIn .botão1{
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 48px;
    gap: 12px;
    width: 174px;
    height: 56px;
    background: #FFD050;
    margin: 32px 633px 128px 633px;
    border: 0px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.flex-container1{
    width: 100%; 
    background: #232536;
    margin-top: 15px;
}

.flex-container3{
    display: flex;
    height: 250px;
}

.flex-item1 img{
    height: 28.35443115234375px;
    width: 140px;
    border-radius: 0px;
    margin: 61px 735px 258.65px 83px;
}

.flex-item2 ul{
    width: 479px;
    height: 28.65px;
    margin: 59px 0 54.65px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item2 ul li {
    list-style: none;
}

.flex-item2 ul li a {
    text-decoration: none;
    color: white;
}

.flex-item2 ul .home1 {
    width: 45px;
    height: 28px;
    margin: 59px 24px 57px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
}

.flex-item2 ul .blog1 {
    width: 34px;
    height: 28px;
    margin: 59px 24px 57px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
}

.flex-item2 ul .about1 {
    width: 71px;
    height: 27.65px;
    margin: 59px 24px 56.35px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
}

.flex-item2 ul .contact1 {
    width: 83px;
    height: 28px;
    margin: 59px 24px 57px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
}

.flex-item2 ul .policy1 {
    width: 105px;
    height: 28px;
    margin: 59px 80px 57px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #FFFFFF; 
}

.flex-container4{
    display: flex;
}

.flex-item3{
    display: flex;
    width: 1280px;
    height: 256px;
    background: #6D6E76;
    margin: 0px 60px 160px 80px;
}

.flex-item3 h2 {
    width: 562px;
    height: 96px;
    margin: 70px 64px 80px 64px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: -2px;
    color: #FFFFFF;
}

.flex-item3 .botão2{
    display: flex;
    width: 323px;
    height: 56px;
    margin: 84px 24px 116px 64px;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #4C4C4C;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding-left: 32px;

}

.flex-item3 .botão3{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 48px;
    gap: 12px;
    width: 179px;
    height: 56px;
    margin: 84px 64px 116px 24px;
    background: #FFD050;
    border: 0px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
} 

.flex-container5{
    display: flex;
}

.text7{
    display: flex;
    width: 361px;
    height: 28px;
    margin: 0 350px 0 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.7;    
}

.text8{
    display: flex;
    width: 361px;
    height: 28px;
    margin: 0 0 56px 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.7;    
}

.flex-item5{
    display: flex;
}

.facebook1{
    display: flex;
    width: 16px;
    height: 16px;
    margin: 0 0 84.10px 415px;
    background: #ffffff;
}

.twitter1{
    display: flex;
    width: 16px;
    height: 16px;
    margin: 0 0 85.5px 26.67px;
    background: #ffffff;
}

.instagram1{
    display: flex;
    width: 16px;
    height: 16px;
    margin: 0 0 84px 26.67px;
    background: #ffffff;
}

.linkedin1{
    display: flex;
    width: 16px;
    height: 16px;
    margin: 0 0 84px 26.67px;
    background: #ffffff;
}

@media (max-width: 1200px) {

    header{
        width: 100vw;
    }

.featuredPosted{
    flex-direction: column;
}

.text1{
    margin-left: 225px;
}

.image1{
    margin-left: 172px;
}

.allPosts{
    margin-right: 100px;
}

hr{
    width: 1050px;
}

#pointer1{
    margin-left: 505px;
}

#pointer2{
    margin-left: 590px;
}

.categories{
    flex-direction: column;
    max-width: 100%;
    margin-left: 225px;
}

.categories h2{
    margin-left: 220px;
}

.galleryCategories{
    display: flex;
    margin-bottom: 128px;
    margin-left: 40px;
    width: 668.5px;
    overflow-x: hidden;
    overflow: hidden;
}

.item1{
    margin-left: 30px;
}

.item3{
    margin-left: -625px;
    margin-bottom: 32px;
    margin-top: 305px;
}

.item4{
    margin-bottom: 32px;
    margin-top: 305px;
}

#prev2{
    margin-top: 537px;
    margin-left: -625px;
}

#next2{
    margin-top: 533px;
    margin-left: 596px;
}

.joinIn{
    margin-left: -118px;
}

.flex-item2 ul{
    margin-left: -240px;
}

.flex-item3{
    flex-direction: column;
    flex-flow: wrap;
    height: 400px;
}

.flex-item3 h2{
    margin-left: 250px;
}

.flex-item3 .botão2 {
    margin-left: 250px;
    margin-top: 0px;
}

.flex-item3 .botão3 {
    margin-top: 0px;
} 

.flex-item5 {
    margin-left: -245px;
}

}

@media (max-width: 576px) {

header{
    width: 100vw;
}

.hamburger{
    display: block;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}

.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
    position: fixed;
    left: -100%;
    top: 80px;
    gap: 0;
    flex-direction: column;
    background-color: #232536;;
    width: 55%;
    text-align: center;
    transition: 0.3s;
}

.nav-item{
    margin: 16px 0;
}

.nav-menu.active{
    left: 0;
}

.text1{
    margin-left: 0px;
}

.text1 .title1{
    margin-left: 80px;
    width: 475px;
}

.text1 .paragrafo2{
    margin-left: 80px;
    width: 455px;
    margin-bottom: 25px;
}

.text1 button{
    margin-top: 50px;
}

.image1 img{
    margin-left: -90px;
    width: 450px;
    height: 320px;
}

hr{
    width: 425px;
}

.post1{
    display: flex;
    flex-direction: column;
}

.image2 img{
    width: 425px;
}

.text2{
    margin-top: -125px;
    margin-left: 80px;
}

.text2 h2{
    width: 425px;
    margin-bottom: 50px;
}

.text2 .paragrafo4{
    width: 425px;
}

.post2{
    display: flex;
    flex-direction: column;
}

.image3 img{
    width: 425px;
    margin-top: -75px;
}

.text3{
    margin-top: -125px;
    margin-left: 80px;
}

.text3 h2{
    width: 425px;
    margin-bottom: 50px;
}

.text3 .paragrafo4{
    width: 425px;
}

.post3{
    display: flex;
    flex-direction: column;
}

.image4 img{
    width: 425px;
    margin-top: -75px;
}

.text4{
    margin-top: -125px;
    margin-left: 80px;
}

.text4 h2{
    width: 425px;
    margin-bottom: 50px;
}

.text4 .paragrafo4{
    width: 425px;
}

.post4{
    display: flex;
    flex-direction: column;
}

.image5 img{
    width: 425px;
    margin-top: -75px;
}

.text5{
    margin-top: -125px;
    margin-left: 80px;
}

.text5 h2{
    width: 425px;
    margin-bottom: 50px;
}

.text5 .paragrafo4{
    width: 425px;
}

.post5{
    display: flex;
    flex-direction: column;
}

.image6 img{
    width: 425px;
    margin-top: -75px;
}

.text6{
    margin-top: -125px;
    margin-left: 80px;
}

.text6 h2{
    width: 425px;
    margin-bottom: 50px;
}

.text6 .paragrafo4{
    width: 425px;
}

.post6{
    display: flex;
    flex-direction: column;
}

.image7 img{
    width: 425px;
}

.text9{
    margin-top: -125px;
    margin-left: 80px;
}

.text9 h2{
    width: 425px;
    margin-bottom: 50px;
}

.text9 .paragrafo4{
    width: 425px;
}

.post7{
    display: flex;
    flex-direction: column;
}

.image8 img{
    width: 425px;
    margin-top: -75px;
}

.text10{
    margin-top: -125px;
    margin-left: 80px;
}

.text10 h2{
    width: 425px;
    margin-bottom: 50px;
}

.text10 .paragrafo4{
    width: 425px;
}

.post8{
    display: flex;
    flex-direction: column;
}

.image9 img{
    width: 425px;
    margin-top: -75px;
}

.text11{
    margin-top: -125px;
    margin-left: 80px;
}

.text11 h2{
    width: 425px;
    margin-bottom: 50px;
}

.text11 .paragrafo4{
    width: 425px;
}

.post9{
    display: flex;
    flex-direction: column;
}

.image10 img{
    width: 425px;
    margin-top: -75px;
}

.text12{
    margin-top: -125px;
    margin-left: 80px;
}

.text12 h2{
    width: 425px;
    margin-bottom: 50px;
}

.text12 .paragrafo4{
    width: 425px;
}

.post10{
    display: flex;
    flex-direction: column;
}

.image11 img{
    width: 425px;
    margin-top: -75px;
}

.text13{
    margin-top: -125px;
    margin-left: 80px;
}

.text13 h2{
    width: 425px;
    margin-bottom: 50px;
}

.text13 .paragrafo4{
    width: 425px;
}

#pointer1{
    margin-left: 210px;
}
    
#pointer2{
    margin-left: 295px;
}
    
.categories h2{
    margin-left: -85px;
}
    
.galleryCategories{
    flex-flow: wrap;
    margin-left: -230px;
    height: 1115px;
    overflow-x: hidden;
    overflow: hidden;
}
    
.item1{
    margin-left: 150px;
    margin-bottom: 30px;
}
    
.item2{
    margin-bottom: 32px;
    margin-left: -295px;
    margin-top: 305px;
}
    
.item3{
    margin-left: -295px;
    margin-top: 565px;
    margin-bottom: 32px;
}
    
.item4{
    margin-bottom: 32px;
    margin-left: -295px;
    margin-top: 825px;
}
    
#prev2{
    margin-left: -315px;
    margin-top: 1055px;
}
    
#next2{
    margin-left: 245px;
    margin-top: 1055px;
}

.joinIn{
    margin-left: -425px;
}

.flex-container3{
    flex-direction: column;
}
    
.flex-item2{
    margin-top: 100px;
}
    
.flex-item2 ul{
    margin-left: 85px;
    margin-top: -350px;
}
    
.flex-container4{
    flex-direction: column;
    height: 700px;
}
    
.flex-item3{
    flex-direction: column;
    flex-flow: wrap;
    height: 450px;
    width: 420px;
}
    
.flex-item3 h2{
    margin-left: 50px;
    width: 300px;
}
    
.flex-item3 .botão2 {
    margin-top: 25px;
    margin-left: 50px;
    width: 315px;
}
    
.flex-item3 .botão3 {
    margin-top: 110px;
    margin-left: -338px;
} 
    
.flex-item4 {
    margin-top: -175px;
}
    
.flex-item5 {
    margin-left: -850px;
    margin-top: -165px;
}

}