*{
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Sen', sans-serif;
}

.space{
    margin-bottom: 80px;
}

header{
    position: fixed;
    top: 0px;
    width: 100vw;
    background-color: #232536;
    z-index: 1;
}

li{
    list-style: none;
}

.nav-link{
    text-decoration: none;
    left: 58.61%;
    right: 38.26%;
    top: 32.5%;
    bottom: 32.5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.container{
    width: 100vw;
    height: 80px;
    margin: auto;
}

.subcontainer{
    width: 90%;
    margin: auto;
}

.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding{
    width: 140px;
    height: 28.35px;
    left: -50px;
    top: 25px;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color: rgb(255, 255, 255);
}

#home{
    margin-top: 70px;
}

.navbar .button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 14px 46px;
    gap: 12px;
    width: 179px;
    height: 56px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: -5px;
    background: #FFFFFF;
    border: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}


.conversation{
    display: flex;
}

.contactUs h5{
    width: 134px;
    height: 20px;
    margin: 128px 653px 12px 653px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #232536;
}

.contactUs h1{
    width: 557px;
    height: 64px;
    margin: 12px 442px 24px 441px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -2px;
    color: #232536;
}

.contactUs p{
    width: 768px;
    height: 56px;
    margin: 24px 336px 64px 336px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #6D6E76;
}

.contacts{
    display: flex;
    
}

.information{
    display: flex;
    margin: 24px 336px 64px 336px;
    background: #592EA9;    
}

.schedule .work{
    width: 96px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.6;
    margin: 48px 0 32px 64px;
}

hr{
    width: 294px;
    border: 1px solid #FFFFFF;
    margin-left: 64px;
    opacity: 0.1;
}

.linha{
    width: 294px;
    border: 1px solid #FFFFFF;
    margin-left: 96px;
    opacity: 0.1;
}

.schedule .days{
    width: 223px;
    height: 32px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
    margin: 32px 0 0 64px;
}

.schedule h5{
    width: 223px;
    height: 32px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
    margin-left: 64px;
}

.schedule p{
    width: 265px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.6;
    margin: 0 0 48px 64px;
}

.telephone .call{
    width: 76.7px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.6;
    margin: 48px 290.96px 32px 99.35px;
}

.telephone h5{
    width: 193px;
    height: 32px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
    margin: 32px 175px 0 99.35px;
}

.telephone p{
    width: 156.46px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.6;
    margin: 0px 211.19px 80px 99.35px;
}

label #name{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    gap: 10px;
    width: 768px;
    height: 76px;
    border: 1px solid rgba(109, 110, 118, 0.5);
    border-radius: 2px;
    margin: 32px 336px 16px 336px;
}

label #email{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    gap: 10px;
    width: 768px;
    height: 76px;
    border: 1px solid rgba(109, 110, 118, 0.5);
    border-radius: 2px;
    margin: 32px 336px 16px 336px;
}

label #query{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    gap: 10px;
    width: 818px;
    height: 125px;
    border: 1px solid rgba(109, 110, 118, 0.5);
    border-radius: 2px;
    margin: 32px 336px 16px 336px;
}

label #message{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    gap: 10px;
    width: 768px;
    height: 144px;
    border: 1px solid rgba(109, 110, 118, 0.5);
    border-radius: 2px;
    margin: 32px 336px 16px 336px;
}

button{
    width: 818px;
    height: 64px;
    background: #FFD050;
    border: 0px;
    margin: 16px 0 128px 336px;
}

.flex-container1{
    width: 100%; 
    background: #232536;
    margin-top: 15px;
}

.flex-container3{
    display: flex;
    height: 250px;
}

.flex-item1 img{
    height: 28.35443115234375px;
    width: 140px;
    border-radius: 0px;
    margin: 61px 735px 258.65px 83px;
}

.flex-item2 ul{
    width: 479px;
    height: 28.65px;
    margin: 59px 0 54.65px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item2 ul li {
    list-style: none;
}

.flex-item2 ul li a {
    text-decoration: none;
    color: white;
}

.flex-item2 ul .home1 {
    width: 45px;
    height: 28px;
    margin: 59px 24px 57px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
}

.flex-item2 ul .blog1 {
    width: 34px;
    height: 28px;
    margin: 59px 24px 57px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
}

.flex-item2 ul .about1 {
    width: 71px;
    height: 27.65px;
    margin: 59px 24px 56.35px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
}

.flex-item2 ul .contact1 {
    width: 83px;
    height: 28px;
    margin: 59px 24px 57px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
}

.flex-item2 ul .policy1 {
    width: 105px;
    height: 28px;
    margin: 59px 80px 57px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #FFFFFF; 
}

.flex-container4{
    display: flex;
}

.flex-item3{
    display: flex;
    width: 1280px;
    height: 256px;
    background: #6D6E76;
    margin: 0px 60px 160px 80px;
}

.flex-item3 h2 {
    width: 562px;
    height: 96px;
    margin: 70px 64px 80px 64px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: -2px;
    color: #FFFFFF;
}

.flex-item3 .botão8{
    display: flex;
    width: 323px;
    height: 56px;
    margin: 84px 24px 116px 64px;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #4C4C4C;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding-left: 32px;
    background-color: #e1e1e1;
}

.flex-item3 .botão9{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 48px;
    gap: 12px;
    width: 179px;
    height: 56px;
    margin: 84px 64px 116px 24px;
    background: #FFD050;
    border: 0px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
} 

.flex-container5{
    display: flex;
}

.text7{
    display: flex;
    width: 361px;
    height: 28px;
    margin: 0 350px 0 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.7;    
}

.text8{
    display: flex;
    width: 361px;
    height: 28px;
    margin: 0 0 56px 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.7;    
}

.flex-item5{
    display: flex;
}

.facebook1{
    display: flex;
    width: 16px;
    height: 16px;
    margin: 0 0 84.10px 415px;
    background: #ffffff;
}

.twitter1{
    display: flex;
    width: 16px;
    height: 16px;
    margin: 0 0 85.5px 26.67px;
    background: #ffffff;
}

.instagram1{
    display: flex;
    width: 16px;
    height: 16px;
    margin: 0 0 84px 26.67px;
    background: #ffffff;
}

.linkedin1{
    display: flex;
    width: 16px;
    height: 16px;
    margin: 0 0 84px 26.67px;
    background: #ffffff;
}

@media (max-width: 1200px) {

    header{
        width: 100vw;
    }

    .conversation{
        margin-left: -120px;
    }

    .contacts{
        margin-left: -125px;
    }

    form{
        margin-left: -125px;
    }

    .flex-item2 ul{
        margin-left: -240px;
    }
    
    .flex-item3{
        flex-direction: column;
        flex-flow: wrap;
        height: 400px;
    }
    
    .flex-item3 h2{
        margin-left: 250px;
    }
    
    .flex-item3 .botão8 {
        margin-left: 250px;
        margin-top: 0px;
    }
    
    .flex-item3 .botão9 {
        margin-top: 0px;
    } 
    
    .flex-item5 {
        margin-left: -245px;
    }

        
}
        
@media (max-width: 576px) {

    header{
        width: 100vw;
    }

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 80px;
        gap: 0;
        flex-direction: column;
        background-color: #232536;;
        width: 55%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }

.contactUs h5{
    margin-left: 350px;
}

.contactUs h1{
    margin-left: 150px;
    width: 530px;
}

.contactUs p{
    margin-left: 255px;
    margin-top: 70px;
    width: 330px;
}

.contacts{
    margin-left: -275px;
}

.information{
    flex-direction: column;
}

.schedule{
    margin-left: 30px;
}

form{
    margin-left: -275px;
}

label #name{
    width: 415px;
}

label #email{
    width: 415px;
}

label #query{
    width: 465px;
}

label #message{
    width: 415px;
}

button{
    width: 465px;
}
        
.flex-container3{
    flex-direction: column;
}

.flex-item2{
    margin-top: 100px;
}

.flex-item2 ul{
    margin-left: 85px;
    margin-top: -350px;
}

.flex-container4{
    flex-direction: column;
    height: 700px;
}

.flex-item3{
    flex-direction: column;
    flex-flow: wrap;
    height: 450px;
    width: 420px;
}

.flex-item3 h2{
    margin-left: 50px;
    width: 300px;
}

.flex-item3 .botão8 {
    margin-top: 25px;
    margin-left: 50px;
    width: 315px;
}

.flex-item3 .botão9 {
    margin-top: 110px;
    margin-left: -338px;
} 

.flex-item4 {
    margin-top: -175px;
}

.flex-item5 {
    margin-left: -850px;
    margin-top: -165px;
}
    
}