*{
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Sen', sans-serif;
}

header {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    z-index: 10;
    background-color: #232536;
    margin-bottom: 24px;
}

.logo-area{
    width: 50%;
    display: flex;
    align-items: center;
}

.logo-area .logo{
  margin: 0;
  margin-left: 20px;
  width: 200px;
  height: 100px;
}

.desktop-menu {
    width: 50%;
}

.desktop-menu ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 24px;
    color: #232536;
}

.desktop-menu ul li {
    list-style: none;
}

.desktop-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.container1{
    position: relative;
    width: 1440px;
    height: 720px;
    margin-bottom: 128px;
}

.container1 .images1{
    position: absolute;
    width: 1440px;
    height: 720px;
    right: 0px;
    top: 80px;
}

.container1 .title1{
    position: absolute;
    /* Esconde as 2 textos */
    width: 222px;
    height: 20px;
    right: 1137px;
    top: 208px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
}

.container1 h2{
    position: absolute;
    /* Esconde as 2 textos */
    width: 803px;
    height: 128px;
    right: 556px;
    top: 252px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -2px;
    color: #FFFFFF;
}

.container1 .text2{
    position: absolute;
    /* Esconde as 2 textos */
    width: 243px;
    height: 28px;
    right: 1116px;
    top: 404px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

.container1 .text3{
    position: absolute;
    /* Esconde as 2 textos */
    width: 599px;
    height: 56px;
    right: 761px;
    top: 448px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

.container1 button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 48px;
    gap: 12px;
    position: absolute;
    width: 204px;
    height: 56px;
    left: 80px;
    top: 552px;
    background: #FFD050;
}

.container2{
    display: flex;
    position: relative;
    margin-bottom: -72px;
}

.container2 .container3{
    position: absolute;
    width: 223px;
    height: 48px;
    right: 1137px;
    top: 928px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
}

.container2 .container3 .featured1 img{
    /* position: absolute; */
    width: 669px;
    height: 352px;
    right: 659px;
    top: 1040px;
    margin-top: 32px;
}

.container2 .container3 .featured1 label{
    /* position: absolute; */
    width: 202px;
    height: 20px;
    right: 1126px;
    top: 1424px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #4C4C4C;
    letter-spacing: 1px;
}

.container2 .container3 .featured1 h3{
    /* position: absolute; */
    width: 669px;
    height: 80px;
    right: 659px;
    top: 1460px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
}

 .container3 .featured1 p{
    /* position: absolute; */
    width: 551px;
    height: 56px;
    right: 777px;
    top: 1556px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
    letter-spacing: 1px;
}

.container2 .container4{
    position: absolute;
    width: 133px;
    height: 48px;
    right: 462px;
    top: 928px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
}

/* .viewall{
    position: absolute;
    width: 60px;
    height: 28px;
    right: 80px;
    top: 939px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #592EA9;    
} */

.container2 .container4 .posts1 label{
    /* position: absolute; */
    width: 199px;
    height: 20px;
    right: 364px;
    top: 1040px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #4C4C4C;
    letter-spacing: 1px;
}

.container2 .container4 .posts1 h4{
    /* position: absolute; */
    width: 369px;
    height: 96px;
    right: 194px;
    top: 1068px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #232536;
}

.container4 .posts1 .square{
    position: absolute;
    width: 517px;
    height: 181px;
    right: -380px;
    /* top: 1189px; */
    background: #FBF6EA;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.container5 {
    display: flex;
    position: relative;
}

.container5 .container6{
    display: flex;
    position: absolute;
    width: 1280px;
    height: 500px;
    right: 80px;
    top: 1883px;
    background: #F4F0F8;
}

.container5 .container6 .about h6{
    /* position: absolute; */
    width: 104px;
    height: 20px;
    right: 1176px;
    top: 1979px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #232536;
    padding-left: 72px;
    padding-top: 72px;
    margin-bottom: 18px;
}

.container5 .container6 .about h2{
    /* position: absolute; */
    width: 494px;
    height: 144px;
    right: 786px;
    top: 2023px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
    padding-left: 72px;
}

.container5 .container6 .about p{
    /* position: absolute; */
    width: 515px;
    height: 56px;
    right: 765px;
    top: 2183px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
    padding-left: 72px;
}

.container5 .mission{
    position: absolute;
    width: 124px;
    height: 20px;
    right: 579px;
    top: 1981px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #232536;
}

.container5 .mission h6{
    /* position: absolute; */
    width: 124px;
    height: 20px;
    right: 579px;
    top: 1981px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #232536;
    margin-bottom: 18px;
    margin-top: -20px;
}

.container5 .mission h3{
    /* position: absolute; */
    width: 481px;
    height: 80px;
    right: 223px;
    top: 2025px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
    text-transform: none;
}

.container5 .mission p{
    /* position: absolute; */
    width: 516px;
    height: 108.73px;
    right: 188px;
    top: 2121px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
    text-transform: none;
    letter-spacing: -0.5px;
}

.container7 {
    display: flex;
    position: relative;
    background-color: yellow;
}

.container7 h2{
    position: absolute;
    width: 302px;
    height: 48px;
    right: 569px;
    top: 2511px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
}

.container8{
    box-sizing: border-box;
    position: absolute;
    width: 296px;
    height: 228px;
    right: 1064px;
    top: 2607px;
    opacity: 0.3;
    border: 1px solid #6D6E76;
    text-align: center;
}

.container7 h2 .container8 .background1{
    position: absolute;
    left: 7.78%;
    right: 88.89%;
    top: 44.01%;
    bottom: 55.19%;
    background: #FBF6EA;
}

.container7 h2 .container8 .background1 img{
    position: absolute;
    left: 0.01%;
    right: -0.01%;
    top: 0%;
    bottom: 17.97%;
    background: #232536;
}

.container7 h2 .container8 .background1 h3{
    /* position: absolute; */
    width: 107px;
    height: 40px;
    right: 1221px;
    top: 2703px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
}

.container7 h2 .container8 .background1 h3 p{
    /* position: absolute; */
    width: 232px;
    height: 56px;
    right: 1096px;
    top: 2747px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
}

.container9{
    position: absolute;
    width: 296px;
    height: 228px;
    right: 736px;
    top: 2607px;
    background: #FFD050;
    text-align: center;
}

.container7 h2 .container9 .background2{
    /* position: absolute; */
    width: 48px;
    height: 48px;
    right: 952px;
    top: 2639px;
    background: #FBF6EA;
}

.container7 h2 .container9 .background2 img{
    /* position: absolute; */
    left: 0.01%;
    right: -0.01%;
    top: 0%;
    bottom: 17.97%;
    background: #232536;
}

.container7 h2 .container9 .background2 h3{
    /* position: absolute; */
    width: 97px;
    height: 40px;
    right: 903px;
    top: 2703px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
}

.container7 h2 .container9 .background2 h3 p{
    /* position: absolute; */
    width: 232px;
    height: 56px;
    right: 768px;
    top: 2747px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
}

.container10{
    box-sizing: border-box;
    position: absolute;
    width: 296px;
    height: 228px;
    right: 408px;
    top: 2607px;
    border: 1px solid #6D6E76;
    text-align: center;
}

.container7 h2 .container10 .background3{
    /* position: absolute; */
    left: 53.33%;
    right: 43.33%;
    top: 44.03%;
    bottom: 55.17%;
    background: #FBF6EA;
}

.container7 h2 .container10 .background3 img{
    /* position: absolute; */
    left: 0.01%;
    right: -0.01%;
    top: 0%;
    bottom: 17.97%;
    background: #232536;
}

.container7 h2 .container10 .background3 h3{
    /* position: absolute; */
    width: 118px;
    height: 40px;
    right: 554px;
    top: 2703px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
}

.container7 h2 .container10 .background3 h3 p{
    /* position: absolute; */
    width: 232px;
    height: 56px;
    right: 440px;
    top: 2747px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
}

.container11{
    box-sizing: border-box;
    position: absolute;
    width: 296px;
    height: 228px;
    right: 80px;
    top: 2607px;
    opacity: 0.3;
    border: 1px solid #6D6E76;
    text-align: center;
}

.container7 h2 .container11 .background4{
    /* position: absolute; */
    left: 76.11%;
    right: 20.56%;
    top: 44.05%;
    bottom: 55.15%;
    background: #FBF6EA;
}

.container7 h2 .container11 .background4 img{
    /* position: absolute; */
    left: 0.01%;
    right: -0.01%;
    top: 0%;
    bottom: 17.97%;
    background: #232536;
}

.container7 h2 .container11 .background4 h3{
    /* position: absolute; */
    width: 147px;
    height: 40px;
    right: 197px;
    top: 2703px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
}

.container7 h2 .container11 .background4 h3 p{
    /* position: absolute; */
    width: 232px;
    height: 56px;
    right: 112px;
    top: 2747px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
}

.container12{
    display: flex;
    position: relative;
    margin-bottom: 128px;
}

.container12 img{
    position: absolute;
    width: 949px;
    height: 705px;
    right: 411px;
    top: 2963px;
}

.container13{
    position: absolute;
    width: 706px;
    height: 584px;
    right: 80px;
    top: 3084px;
    background: #FFFFFF;
    padding-left: 80px;
}

.container13 .title2{
    /* position: absolute; */
    width: 189px;
    height: 20px;
    right: 517px;
    top: 3164px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #232536;
    margin-top: 80px;
}

.container13 h1{
    /* position: absolute; */
    width: 546px;
    height: 192px;
    right: 160px;
    top: 3208px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -2px;
    color: #232536;
    margin-top: 24px;  
}

.container13 p{
    /* position: absolute; */
    width: 546px;
    height: 84px;
    right: 160px;
    top: 3416px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
    margin-top: 16px;  
}

.container14 {
    display: flex;
    position: relative;
    background-color: gray;
    margin-bottom: 128px;
    /* flex: auto; */
}

.container14 h2{
    position: absolute;
    width: 231px;
    height: 48px;
    right: 614px;
    top: 3796px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
}

.container15{
    position: absolute;
    width: 296px;
    height: 324px;
    right: 1064px;
    top: 3892px;
    background: #F4F4F4;
}

.container14 h2 .container15 img{
    /* position: absolute; */
    width: 128px;
    height: 128px;
    right: 1148px;
    top: 3932px;
    width: 128px;
    height: 128px;
    border-radius: 75px;
}

.container14 h2 .container15 img h3{
    /* position: absolute; */
    width: 143px;
    height: 40px;
    right: 1141px;
    top: 4080px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
}

.container14 h2 .container15 img h3 p{
    /* position: absolute; */
    width: 240px;
    height: 20px;
    right: 1092px;
    top: 4120px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #6D6E76;
}

.container14 h2 .container15 img h3 p .facebook{
    /* position: absolute; */
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0.61%;
    background: #232536;
    width: 16px;
    height: 15.9px;
}

.container14 h2 .container15 img h3 p .twitter{
    /* position: absolute; */
    left: 0%;
    right: 0%;
    top: 9.38%;
    bottom: 9.37%;
    background: #232536;
    width: 16px;
    height: 13.81px;
}

.container14 h2 .container15 img h3 p .instagram{
    /* position: absolute; */
    left: 70.7%;
    right: 17.3%;
    top: 17.31%;
    bottom: 70.7%;
    background: #232536;
    width: 16px;
    height: 13.81px;
}

.container14 h2 .container15 img h3 p .linkedin{
    /* position: absolute; */
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #232536;
    width: 16px;
    height: 13.81px;
}

.container16{
    position: absolute;
    width: 296px;
    height: 324px;
    right: 1064px;
    top: 3892px;
    background: #F4F4F4;
}

.container14 h2 .container16 img{
    /* position: absolute; */
    width: 128px;
    height: 128px;
    right: 1148px;
    top: 3932px;
    width: 128px;
    height: 128px;
    border-radius: 75px;
}

.container14 h2 .container16 img h3{
    /* position: absolute; */
    width: 143px;
    height: 40px;
    right: 1141px;
    top: 4080px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
}

.container14 h2 .container16 img h3 p{
    /* position: absolute; */
    width: 240px;
    height: 20px;
    right: 1092px;
    top: 4120px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #6D6E76;
}

.container14 h2 .container16 img h3 p .facebook{
    /* position: absolute; */
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0.61%;
    background: #232536;
    width: 16px;
    height: 15.9px;
}

.container14 h2 .container16 img h3 p .twitter{
    /* position: absolute; */
    left: 0%;
    right: 0%;
    top: 9.38%;
    bottom: 9.37%;
    background: #232536;
    width: 16px;
    height: 13.81px;
}

.container14 h2 .container16 img h3 p .instagram{
    /* position: absolute; */
    left: 70.7%;
    right: 17.3%;
    top: 17.31%;
    bottom: 70.7%;
    background: #232536;
    width: 16px;
    height: 13.81px;
}

.container14 h2 .container16 img h3 p .linkedin{
    /* position: absolute; */
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #232536;
    width: 16px;
    height: 13.81px;
}

.container17{
    position: absolute;
    width: 296px;
    height: 324px;
    right: 1064px;
    top: 3892px;
    background: #F4F4F4;
}

.container14 h2 .container17 img{
    /* position: absolute; */
    width: 128px;
    height: 128px;
    right: 1148px;
    top: 3932px;
    width: 128px;
    height: 128px;
    border-radius: 75px;
}

.container14 h2 .container17 img h3{
    /* position: absolute; */
    width: 143px;
    height: 40px;
    right: 1141px;
    top: 4080px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
}

.container14 h2 .container17 img h3 p{
    /* position: absolute; */
    width: 240px;
    height: 20px;
    right: 1092px;
    top: 4120px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #6D6E76;
}

.container14 h2 .container17 img h3 p .facebook{
    /* position: absolute; */
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0.61%;
    background: #232536;
    width: 16px;
    height: 15.9px;
}

.container14 h2 .container17 img h3 p .twitter{
    /* position: absolute; */
    left: 0%;
    right: 0%;
    top: 9.38%;
    bottom: 9.37%;
    background: #232536;
    width: 16px;
    height: 13.81px;
}

.container14 h2 .container17 img h3 p .instagram{
    /* position: absolute; */
    left: 70.7%;
    right: 17.3%;
    top: 17.31%;
    bottom: 70.7%;
    background: #232536;
    width: 16px;
    height: 13.81px;
}

.container14 h2 .container17 img h3 p .linkedin{
    /* position: absolute; */
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #232536;
    width: 16px;
    height: 13.81px;
}

.container18{
    position: absolute;
    width: 296px;
    height: 324px;
    right: 1064px;
    top: 3892px;
    background: #F4F4F4;
}

.container14 h2 .container18 img{
    /* position: absolute; */
    width: 128px;
    height: 128px;
    right: 1148px;
    top: 3932px;
    width: 128px;
    height: 128px;
    border-radius: 75px;
}

.container14 h2 .container18 img h3{
    /* position: absolute; */
    width: 143px;
    height: 40px;
    right: 1141px;
    top: 4080px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
}

.container14 h2 .container18 img h3 p{
    /* position: absolute; */
    width: 240px;
    height: 20px;
    right: 1092px;
    top: 4120px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #6D6E76;
}

.container14 h2 .container18 img h3 p .facebook{
    /* position: absolute; */
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0.61%;
    background: #232536;
    width: 16px;
    height: 15.9px;
}

.container14 h2 .container18 img h3 p .twitter{
    /* position: absolute; */
    left: 0%;
    right: 0%;
    top: 9.38%;
    bottom: 9.37%;
    background: #232536;
    width: 16px;
    height: 13.81px;
}

.container14 h2 .container18 img h3 p .instagram{
    /* position: absolute; */
    left: 70.7%;
    right: 17.3%;
    top: 17.31%;
    bottom: 70.7%;
    background: #232536;
    width: 16px;
    height: 13.81px;
}

.container14 h2 .container18 img h3 p .linkedin{
    /* position: absolute; */
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #232536;
    width: 16px;
    height: 13.81px;
}

.container19{
    display: flex;
    position: relative;
    background-color: aqua;
}

.container19 p{
    position: absolute;
    width: 83.83px;
    height: 20px;
    right: 1262.17px;
    top: 4312px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6D6E76;
    opacity: 0.6;   
}

.container19 h4{
    position: absolute;
    width: 136px;
    height: 32px;
    right: 1210px;
    top: 4332px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #6D6E76;    
}

.container20{
    display: flex;
    position: relative;
}

.container20 .logoipsum1{
    /* position: absolute; */
    left: 1.02%;
    right: 80.83%;
    top: 3.92%;
    bottom: 3.97%;
    background: #282938;   
}

.container20 .logoipsum2{
    /* position: absolute; */
    left: 1.02%;
    right: 80.83%;
    top: 3.92%;
    bottom: 3.97%;
    background: #282938;    
}

.container20 .logoipsum3{
    /* position: absolute; */
    left: 1.02%;
    right: 80.83%;
    top: 3.92%;
    bottom: 3.97%;
    background: #282938;    
}

.container20 .logoipsum4{
    /* position: absolute; */
    left: 1.02%;
    right: 80.83%;
    top: 3.92%;
    bottom: 3.97%;
    background: #282938;    
}

.container20 .logoipsum5{
    /* position: absolute; */
    left: 1.02%;
    right: 80.83%;
    top: 3.92%;
    bottom: 3.97%;
    background: #282938;    
}

.container21{
    display: flex;
    position: relative;
}

.container22{
    position: absolute;
    width: 1280px;
    height: 464px;
    right: 80px;
    top: 4460px;
    background: #FBF6EA;
}

.container22 .testimonials{
    /* position: absolute; */
    width: 153px;
    height: 20px;
    right: 1095px;
    top: 4552px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #232536;
}

.container22 .testimonials h6{
    /* position: absolute; */
    width: 345px;
    height: 96px;
    right: 903px;
    top: 4584px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
    padding-top: 92px;
}

.container22 .testimonials h6 h2{
    /* position: absolute; */
    width: 349px;
    height: 56px;
    right: 899px;
    top: 4696px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #232536;
}

.container22 .testimonials h6 h2 p{
    /* position: absolute; */
    width: 349px;
    height: 56px;
    right: 899px;
    top: 4696px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #232536;
}

.container23{
    position: absolute;
    width: 469px;
    height: 128px;
    right: 254px;
    top: 4540px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #232536;
}

.container23 h4 img{
    /* position: absolute; */
    width: 48px;
    height: 48px;
    right: 675px;
    top: 4789px;
    border-radius: 16px;    
}

.container23 h4 img h4{
    /* position: absolute; */
    width: 193px;
    height: 32px;
    right: 466px;
    top: 4789px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #232536;   
}

.container23 h4 img h4 p{
    /* position: absolute; */
    width: 114px;
    height: 28px;
    right: 545px;
    top: 4821px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
}

.container24{
    display: flex;
    position: relative;
    margin-top: 128px;
}

.join h2{
    position: absolute;
    width: 414px;
    height: 96px;
    right: 513px;
    top: 5052px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2px;
    color: #232536;
    margin-top: 16px;
}

.container24 .join p{
    position: absolute;
    width: 405px;
    height: 56px;
    right: 517px;
    top: 5164px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #6D6E76;
    margin-bottom: 32px;
}

.container24 .join button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 48px;
    gap: 12px;
    position: absolute;
    width: 174px;
    height: 56px;
    left: 633px;
    top: 5252px;
    background: #FFD050;
}

footer{
    display: flex;
    position: relative;
    margin-top: 128px;
}

.footer1{
    position: absolute;
    width: 1440px;
    height: 560px;
    left: 0px;
    top: 5436px;
    background: #232536;
}

 .footer1 .logo2{
  margin: 0;
  margin-left: 20px;
  width: 200px;
  height: 100px;
 }

.menu{
    position: absolute;
    width: 1440px;
    height: 560px;
    left: 0px;
    top: 5436px;
    background: #232536;
}

.home1{
    position: absolute;
    width: 45px;
    height: 28px;
    left: 926px;
    top: 59px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.blog1{
    position: absolute;
    width: 34px;
    height: 28px;
    left: 995px;
    top: 59px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.about1{
    position: absolute;
    width: 71px;
    height: 27.65px;
    left: 1053px;
    top: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.contact1{
    position: absolute;
    width: 83px;
    height: 28px;
    left: 1148px;
    top: 59px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #FFFFFF;    
}

.policy1{
    position: absolute;
    width: 105px;
    height: 28px;
    left: 1255px;
    top: 59px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}